<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nom d'application", "Home", "Default", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Home", "Default")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Default")</li>
                    <li>@Html.ActionLink("Nos plats", "Index", "Dish")</li>

                    @if (!WebApplication1.Utils.Session.Instance.IsLogged)
                    {
                        <li> @Html.ActionLink("Register", "Register", "Security")</li>
                        <li> @Html.ActionLink("Login", "Login", "Security")</li>
                    }
                    else
                    {

                        <li>@Html.ActionLink("Cart", "Cart", "Dish")</li>
                        if (WebApplication1.Utils.Session.Instance.ConnectedUser.Role == "ADMIN")
                        {
                            <li>@Html.ActionLink("Admin", "Index", "Category", new { Area = "Admin" }, null)</li>
                        }
                        <li>@Html.ActionLink("Logout", "Logout", "Security")</li>
                    }
                </ul>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success">@ViewBag.SuccessMessage</div>
        }
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mon application ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
